/*reset css*/
*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: SfProRegular;
    src: url(../font/SF-Pro-Display/SF-Pro-Display-Regular.otf);
}
#header{
    height: 80px;
    background-color: #0332b5;
    padding: 0px 30px;
    border-radius: 0px 0px 4px 4px;
    
}
#logo img{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    border-radius: 100%;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.3s ease; 
}
#logo img:hover{
    box-shadow: 0px 5px 15px 5px rgb(0, 15, 56, 0.6);
}
#header #list{
    display: block;  
    float: right;
    height: 100%;
    width: auto;

}

#list > li{
    display: inline-block;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%); /* Gradient trắng */
    background-size: 100% 0%; /* Ban đầu không hiển thị */
    background-repeat: no-repeat;
    transition: background-size 0.4s ease; /* Hiệu ứng mượt */
}

#list > li:hover {
    background: linear-gradient(to top, #fff 0%, #fff 100%); /* Gradient trắng */
    background-size: 100% 100%; /* Ban đầu không hiển thị */
    background-repeat: no-repeat;
    transition: background-size 0.4s ease; 
    
}
#list > li > a{
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    padding: 0px 20px;
    height: 100%;
    text-align:center;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    color : white;
    text-decoration: none;
    font-family: SfProRegular;
}
#list > li:hover > a {
    
    color : #0332b5;
}
